 /* Font */
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* reset styles */
*{
    margin: 0;
    padding: 0;
}
/* Default styles */
body{
    font-family: "Mulish", sans-serif;
}
.container{
    width: 80%;
    margin: 5rem auto;
}
/* shared styles */
.orange{
    color: #FF5400;
}
.btn-primary{
    font-weight: 700;
    cursor: pointer;
    background-color: #FF5400;
    color: rgb(255, 255, 255);
    border-radius: 7px;
    width: 130px;
    height: 40px;
    outline: none;
    border: none;
    padding: 0 0.5rem;
}

/* Header Nav styles */
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -2rem;
}
.nav .brand{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.nav .brand img{
    width: 48px;
    height: 56px;
}
.nav .brand h1{
    font-size: 2.3rem;
    font-weight:900;
}
.nav #nav-options{
    display: flex;
    gap: 2rem;
}
.nav #nav-options li{
    list-style: none;

}
.nav #nav-options li a{
    color: #424247;
    font-size: 1rem;
    font-weight: 400;
    text-decoration: none;
}

/* Header Banner styles */
.banner{
    border-radius: 1rem;
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.8) 0%, rgba(19, 19, 24, 0) 100%), url("../Images/Group\ 13\ \(1\)\ \(1\).png");
    background-position: center;
    background-size: cover;
    /* background-image: ; */
    margin-top: 5rem;
}
.banner .explorer-container{
    width: 59%;
    padding: 6rem 0;
    margin: 0 auto;
    text-align: center;
}
.banner .explorer-container h1{
    color: rgb(255, 255, 255);
    font-size: 3.1rem;
    font-weight: 800;
}
.banner .explorer-container p{
    color: rgb(255, 255, 255);
    font-size: 14px;
    margin: 1.2rem 0 2.2rem;
}
.explorer-container .form{
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.3);
    padding: 0.9rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    backdrop-filter: blur(1px);
}
.explorer-container .form input, select{
    border-radius: 7px;
    background: rgb(255, 255, 255);
    width: 130px;
    height: 40px;
    outline: none;
    border: none;
    padding: 0 0.5rem;
}
.form select option{
    padding-right: 0.5rem;
}
.form select{
    color: rgba(19, 19, 24, 0.5);
    font-size: 14px;
    font-weight: 400;
}

.nav i{
    display: none;
}

/* Popular section styles */
.popular{
    display: flex;
    justify-content: space-between;
    
}

.popular-content{
    width: 47%;
}
.first-para{
    color: rgba(19, 19, 24, 0.7);
    margin: 1rem 0;
    font-size: 14px;
}
.popular-content h1{
    font-size: 2.2rem;
    font-weight: 800;
    color: #131318;
}
.popular-content ul{
    margin-left: 1rem;
}
.popular-content ul li{
    color: rgba(19, 19, 24, 0.7);
    margin: 0.5rem 0;
    font-size: 14px;
}
.second-para{
    color: rgba(90, 90, 93, 1);
    font-size: 14px;
    margin: 1.4rem 0;
}
.popular-img{
    width: 47%;
    height: 24rem;
}
.popular-img img{
    width: 100%;
    height: 100%;
}


/* Destination section styles */
.destination-titlebar{
    width: 50%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 2.5rem;
}
.destination-titlebar h1{
    font-size: 2rem;
    font-weight: 800;
    color: #131318;
}
.destination-titlebar p{
    font-size: 14px;
    color: rgba(19, 19, 24, 0.7);
    margin-top: 1rem;
}
.row1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 280px;
    gap: 22px;
    margin-bottom: 22px;
}
.maldives{
    background-image: url('../Images/Rectangle\ 5.png');
    background-position: center;
    background-size: cover;
}
.indonesia{
    background-image: url('../Images/Rectangle\ 8.png');
    background-position: center;
    background-size: cover;
}
h3{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-size: 1.8rem;
    font-weight: 800;
    border-radius: 0.8rem;
}
.row2{
    display: grid;
    grid-template-columns: 30% auto 30% ;
    grid-template-rows: 265px;
    gap: 22px;
}
.srilanka{
    background-image: url('../Images/Rectangle\ 6.png');
    background-position: center;
    background-size: cover;
}
.north{
    background-image: url('../Images/Rectangle\ 7.png');
    background-position: center;
    background-size: cover;
}
.kashmir{
    background-image: url('../Images/Rectangle\ 9.png');
    background-position: center;
    background-size: cover;
}
.row3{
    display: grid;
    grid-template-columns: 38% 60%;
    grid-template-rows: 265px;
    gap: 22px;
    margin-top: 22px;
}
.bangladesh{
    background-image: url('../Images/Rectangle\ 11.png');
    background-position: center;
    background-size: cover;
}
.bandorban{
    background-image: url('../Images/Rectangle\ 10.png');
    background-position: center;
    background-size: cover;
}
@media screen and (max-width: 576px) {
    .container{
        width: 85%;
    }
    .nav #nav-options{
        display: none;
    }
    .nav i{
        display: block;
        font-size: 1.3rem;
        cursor: pointer;
    }
    .banner{
        background-position: center;
        background-size: cover;
    }
    .banner .explorer-container{
        width: 85%;
    }
    .explorer-container .form,.popular{
        flex-direction: column;
        gap: 1.2rem;
    }
    .explorer-container .form input, select, .explorer-container .form button{
        width: 90%;
    }
    .explorer-container .form input{
        width: 85%;
    }
    .popular-content, .popular-img{
        width: 100%;
    }
    .destination-titlebar{
        width: 100%;
    }
    .row1, .row2, .row3{
        grid-template-columns: 1fr;

    }.row1{
        grid-template-rows: 280px 280px;
    }
    .row2{
        grid-template-rows: 265px 265px 265px;
    }
    .row3{
        grid-template-rows: 265px 265px;
    }

}
